div.device-entry {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    margin: 20px 0px;
}

ul.device-tabs {
    margin: 0px;
}

div.device-info {
    padding: 5px;
    background: #e2e2e2;
}

p.device-name {
    margin-bottom: 0px;
    font-weight: bold;
}

p.last-synced {
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #777;
}

li.tab-entry {
    list-style-type: none;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    padding: 5px;
    background: rgb(250, 250, 250);
}

img.tab-favicon {
    width: 20px;
    padding: 0px 10px;
}



/*
div#error {
    background: #fee;
}

span#user {
    font-family: "Courier New",Courier,monospace;
}

div.tabs ul {
}
*/
/*li.device-entry {
    background: #efe;
    border-radius: 10px;
    border: 1px solid #888;
    max-width: 60%;
    padding: 3px; /* between text and edge of box */
    /*margin: 5px; /* between devices */
}
/*
li.device-entry.my-device {
    background: #898;
    max-width: 55%;
}

li.device-entry.offline span.if-online {
    display: none;
}

li.tab-entry {
    background: #eee;
    border: 1px solid #bbb;
    max-width: 90%;
    padding: 3px;
    margin: 5px;
    border-radius: 8px;
}

li.device-entry.my-device li.tab-entry {
    background: #888;
    border: 1px solid #777;
}

li.tab-entry img {
    margin-left: 2px;
    margin-right: 2px;
}
*/

.narrow-container {
    max-width: 700px;
}